<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style/printable.css">
</head>

<body>
    <div class="border">
        <div class="header-container" style="height:6%">
            <image height="100%" src="/res/logo.png"></image>
            <div
                class="header-information">
                <p class="header-build-type">QC Form - {{lookup
                    (lookup this.items.build_types.values this.values.build_type) "name"}}</p>
                <p class="header-location">QC Location - {{lookup (lookup
                    this.items.build_locations.values this.values.build_location) "name"}}</p>
        
            </div>
            {{#with (is_complete this.values) as |error_message|}}
                <div class="header-warning-container">
                    <span class="header-warning">{{error_message}}</span>
                </div>
            {{else}}
            {{/with}}
        </div>
        <hr style="margin-top:5px">
        <p class="explication">This form is to be completed by a
            Technician prior to equipment delivery. The top portion of this form must be presented to the customer.
            Place a 
            "<image class="inline-answer-explanations" src="/res/pass.svg" />" in the box provided if an item has passed the test;
            place an 
            "<image class="inline-answer-explanations" src="/res/fail.svg" />" in the box provided if it failed. If an item is unable
            to be
            tested, or is not present, cross out the "N/A" beside the item (<span class="text-strike-through">N/A</span>). The QC process is to be completed by
            the Lead Technician in the 
            "<image style="width:12px" class="inline-answer-explanations" src="/res/circle_empty.svg" />"
            column, with a 
            "<image class="inline-answer-explanations" src="/res/pass.svg" />" or an 
            "<image class="inline-answer-explanations" src="/res/fail.svg" />" for the appropriate item.
        </p>
        <div class="content-container">
            <div class="answers-content-container">
                {{#each (filter_questions this.items.qc_checks this.values.qc_answers) as |section|}}
                <p style="font-weight:bold"
                {{#if @first}}
                {{else}}
                class="question-not-first-header"
                {{/if}}
                >{{section.heading}}</p>
                <div class="section-content-container">
                    {{#each section.questions as |question_id|}}
                    {{#with (lookup @root.items.qc_checks.questions question_id) as |question|}}
                    {{!-- {{question_id}} --}}
                    {{#*inline "answer"}}
                    {{#with (string_to_arr answers) as |qc|}}
                    {{#if (eq qc.0 "p")}}
                    <image class="question-answer checkbox" src="/res/square_pass.svg" />
                    {{else}}
                    {{#if (eq qc.0 "f")}}
                    <image class="question-answer checkbox" src="/res/square_fail.svg" />
                    {{else}}
                    <image class="question-answer checkbox" src="/res/square_empty.svg" />
                    {{/if}}
                    {{/if}}

                    {{#if (eq qc.1"p")}}
                    <image class="question-answer checkbox" src="/res/circle_pass.svg" />
                    {{else}}
                    {{#if (eq qc.1 "f")}}
                    <image class="question-answer checkbox" src="/res/circle_fail.svg" />
                    {{else}}
                    <image class="question-answer checkbox" src="/res/circle_empty.svg" />
                    {{/if}}
                    {{/if}}

                    {{#if (or (eq qc.0 "n") (eq qc.1 "n"))}}
                    <p class="question-answer text-strike-through">N/A</p>
                    {{else}}
                    <p class="question-answer">N/A</p>
                    {{/if}}
                    
                    {{/with}}
                    {{/inline}}

                    <div class="question-container">
                    <div class="question-answers-container">
                        {{> answer answers=(lookup @root.values.qc_answers question_id)}}
                    </div>
                    {{#if question.pdf_question}}
                    <p style="margin-left:10px">{{question.pdf_question}}</p>
                    {{else}}
                    <p style="margin-left:10px">{{question.question}}</p>
                    {{/if}}
                    
                    </div>
                    
                    {{/with}}
                    {{/each}}
                </div>
                {{/each}}
            </div>
            <div class="information-container">
                <p style="margin-top:0px">
                    <span style="font-weight: bold;">Make/Model:</span> <span style="text-decoration: underline;">{{this.values.make_model}}</span>
                </p>
                <p>
                    <span style="font-weight: bold;">Sales Order:</span> <span style="text-decoration: underline;">{{this.values.sales_order}}</span>
                </p>
                <p>
                    <span style="font-weight: bold;">Started:</span> <span id="creation_date" style="text-decoration: underline;">{{this.values.creation_date}}</span>
                    <script>
                        let date_str = "{{this.values.creation_date}}";
                        console.log(date_str);
                        let date = new Date(date_str);
                        let date_fmt = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
                        document.getElementById("creation_date").innerText = date_fmt;
                    </script>
                </p>
                <p>
                    <span style="font-weight: bold;">Finished:</span> <span id="last_updated" style="text-decoration: underline;">{{this.values.last_updated}}</span>
                    <script>
                        let finished_str = "{{this.values.last_updated}}";
                        let finished = new Date(finished_str);
                        let finished_fmt = finished.getFullYear() + "/" + (finished.getMonth() + 1) + "/" + finished.getDate();
                        document.getElementById("last_updated").innerText = finished_fmt;
                    </script>
                </p>
                <p>
                    <span style="font-weight: bold;">Oem Serial:</span>  <span style="text-decoration: underline;">{{this.values.oem_serial}}</span>
                </p>
                <p>
                    <span style="font-weight: bold;">Item Serial:</span>  <span style="text-decoration: underline;">{{this.values.item_serial}}</span>
                </p>
                <p>
                    <span style="font-weight: bold;">Asm Serial:</span>  <span style="text-decoration: underline;">{{this.values.asm_serial}}</span>
                </p>
                <p>
                    <span style="font-weight: bold;">Qc Serial:</span>  <span style="text-decoration: underline;">{{this.values.id}}</span>
                </p>
                <p>
                    {{#with (lookup this.items.operating_systems.values this.values.operating_system) as |operating_system|}}
                    <span style="font-weight: bold;">Operating System:</span> <span style="text-decoration: underline;">{{operating_system.name}}</span>
                    {{/with}}
                </p>
                <p>
                    <span style="font-weight: bold;">MSO Installed:</span> 
                    {{#if this.values.mso_installed}}
                    <image class="inline-answer-explanations" src="/res/square_pass.svg" />
                    {{else}}
                    <image class="inline-answer-explanations" src="/res/square_fail.svg" />
                    {{/if}}
                </p>
                <p>

                    {{#with (lookup this.items.processor_types.values this.values.processor_type) as |processor_type|}}
                        {{#with (lookup @root.items.processor_gens.values @root.values.processor_gen) as |processor_gen|}}
                        <span style="font-weight: bold;">Processor:</span> <span style="text-decoration: underline;">{{processor_type.name}} {{processor_gen.name}}</span>
                        {{/with}}
                    {{/with}}
                </p>
                <p>
                    {{#with (lookup this.items.ram_types.values this.values.ram_type) as |ram_type|}}
                        {{#with (lookup @root.items.ram_sizes.values @root.values.ram_size) as |ram_size|}}
                        <span style="font-weight: bold;">Ram:</span> <span style="text-decoration: underline;">{{ram_size.name}} {{ram_type.name}}</span>
                        {{/with}}
                    {{/with}}
                </p>
                <p>
                    {{#with (lookup this.items.drive_types.values this.values.drive_type) as |drive_type|}}
                        {{#with (lookup @root.items.drive_sizes.values @root.values.drive_size) as |drive_size|}}
                        <span style="font-weight: bold;">Drive Size:</span> <span style="text-decoration: underline;">{{drive_size.name}} {{drive_type.name}}</span>
                        {{/with}}
                    {{/with}}
                </p>
                <p>
                    <span style="font-weight: bold;">Initials QC1:</span> <span style="text-decoration: underline;">{{this.values.qc1_initial}}</span>,  <span style="font-weight: bold;">QC2:</span> <span style="text-decoration: underline;">{{this.values.qc2_initial}}</span>
                </p>
            </div>
        </div>
    </div>
    <script>
        const parms = new URLSearchParams(window.location.search);
        if (parms.has("immediate")) {
            print()
        }
    </script>
</body>

</html>