<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style/printable.css">
</head>

<body>
    <div class="border">
        <div class="header-container" style="height:6%">
            <image height="100%" src="/res/logo.png"></image>
            <div
                class="header-information">
                <p class="header-buildtype">QC Form - {{lookup
                    (lookup this.items.buildtypes.values this.values.buildtype) "name"}}</p>
                <p class="header-location">QC Location - {{lookup (lookup
                    this.items.buildlocations.values this.values.buildlocation) "name"}}</p>
        
            </div>
            {{#with (is_complete this.values) as |error_message|}}
                <div class="header-warning-container">
                    <span class="header-warning">{{error_message}}</span>
                </div>
            {{else}}
            {{/with}}
        </div>
        <hr style="margin-top:5px">
        <p class="explication">This form is to be completed by a
            Technician prior to equipment delivery. The top portion of this form must be presented to the customer.
            Place a 
            "<image class="inline-answer-explanations" src="/res/pass.svg" />" in the box provided if an item has passed the test;
            place an 
            "<image class="inline-answer-explanations" src="/res/fail.svg" />" in the box provided if it failed. If an item is unable
            to be
            tested, or is not present, cross out the "N/A" beside the item (<span class="text-strike-through">N/A</span>). The QC process is to be completed by
            the Lead Technician in the 
            "<image style="width:12px" class="inline-answer-explanations" src="/res/circle_empty.svg" />"
            column, with a 
            "<image class="inline-answer-explanations" src="/res/pass.svg" />" or an 
            "<image class="inline-answer-explanations" src="/res/fail.svg" />" for the appropriate item.
        </p>
        <div class="content-container">
            <div class="answers-content-container">
                {{#each (filter_questions this.items.qc_checks this.values.qc1 this.values.qc2) as |section|}}
                <p style="font-weight:bold"
                {{#if @first}}
                {{else}}
                class="question-not-first-header"
                {{/if}}
                >{{section.heading}}</p>
                <div class="section-content-container">
                    {{#each section.questions as |question_id|}}
                    {{#with (lookup @root.items.qc_checks.questions question_id) as |question|}}
                    {{!-- {{question_id}} --}}
                    {{#*inline "answer"}}

                    {{#if (eq qc1 1)}}
                    <image class="question-answer checkbox" src="/res/square_pass.svg" />
                    {{else}}
                    {{#if (eq qc1 2)}}
                    <image class="question-answer checkbox" src="/res/square_fail.svg" />
                    {{else}}
                    <image class="question-answer checkbox" src="/res/square_empty.svg" />
                    {{/if}}
                    {{/if}}

                    {{#if (eq qc2 1)}}
                    <image class="question-answer checkbox" src="/res/circle_pass.svg" />
                    {{else}}
                    {{#if (eq qc2 2)}}
                    <image class="question-answer checkbox" src="/res/circle_fail.svg" />
                    {{else}}
                    <image class="question-answer checkbox" src="/res/circle_empty.svg" />
                    {{/if}}
                    {{/if}}

                    {{#if (or (eq qc1 3) (eq qc2 3))}}
                    <p class="question-answer text-strike-through">N/A</p>
                    {{else}}
                    <p class="question-answer">N/A</p>
                    {{/if}}

                    {{/inline}}

                    <div class="question-container">
                    <div class="question-answers-container">
                        {{> answer qc1=(lookup @root.values.qc1 question_id) qc2=(lookup @root.values.qc2 question_id)}}
                    </div>
                    {{#if question.pdf_question}}
                    <p style="margin-left:10px">{{question.pdf_question}}</p>
                    {{else}}
                    <p style="margin-left:10px">{{question.question}}</p>
                    {{/if}}
                    
                    </div>
                    
                    {{/with}}
                    {{/each}}
                </div>
                {{/each}}
            </div>
            <div class="information-container">
                <p style="margin-top:0px">
                    <span style="font-weight: bold;">Make/Model:</span> <span style="text-decoration: underline;">{{this.values.makemodel}}</span>
                </p>
                <p>
                    <span style="font-weight: bold;">Sales Order:</span> <span style="text-decoration: underline;">{{this.values.salesorder}}</span>
                </p>
                <p>
                    <span style="font-weight: bold;">Started:</span> <span id="creationdate" style="text-decoration: underline;">{{this.values.creationdate}}</span>
                    <script>
                        let date_str = "{{this.values.creationdate}}";
                        console.log(date_str);
                        let date = new Date(date_str);
                        let date_fmt = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
                        document.getElementById("creationdate").innerText = date_fmt;
                    </script>
                </p>
                <p>
                    <span style="font-weight: bold;">Finished:</span> <span id="lastupdated" style="text-decoration: underline;">{{this.values.lastupdated}}</span>
                    <script>
                        let finished_str = "{{this.values.lastupdated}}";
                        let finished = new Date(finished_str);
                        let finished_fmt = finished.getFullYear() + "/" + (finished.getMonth() + 1) + "/" + finished.getDate();
                        document.getElementById("lastupdated").innerText = finished_fmt;
                    </script>
                </p>
                <p>
                    <span style="font-weight: bold;">Oem Serial:</span>  <span style="text-decoration: underline;">{{this.values.oemserial}}</span>
                </p>
                <p>
                    <span style="font-weight: bold;">Item Serial:</span>  <span style="text-decoration: underline;">{{this.values.itemserial}}</span>
                </p>
                <p>
                    <span style="font-weight: bold;">Asm Serial:</span>  <span style="text-decoration: underline;">{{this.values.asmserial}}</span>
                </p>
                <p>
                    <span style="font-weight: bold;">Qc Serial:</span>  <span style="text-decoration: underline;">{{this.values.id}}</span>
                </p>
                <p>
                    {{#with (lookup this.items.operatingsystems.values this.values.operatingsystem) as |operatingsystem|}}
                    <span style="font-weight: bold;">Operating System:</span> <span style="text-decoration: underline;">{{operatingsystem.name}}</span>
                    {{/with}}
                </p>
                <p>
                    <span style="font-weight: bold;">MSO Installed:</span> 
                    {{#if this.values.msoinstalled}}
                    <image class="inline-answer-explanations" src="/res/square_pass.svg" />
                    {{else}}
                    <image class="inline-answer-explanations" src="/res/square_fail.svg" />
                    {{/if}}
                </p>
                <p>

                    {{#with (lookup this.items.processortypes.values this.values.processortype) as |processortype|}}
                        {{#with (lookup @root.items.processorgens.values @root.values.processorgen) as |processorgen|}}
                        <span style="font-weight: bold;">Processor:</span> <span style="text-decoration: underline;">{{processortype.name}} {{processorgen.name}}</span>
                        {{/with}}
                    {{/with}}
                </p>
                <p>
                    {{#with (lookup this.items.ramtypes.values this.values.ramtype) as |ramtype|}}
                        {{#with (lookup @root.items.ramsizes.values @root.values.ramsize) as |ramsize|}}
                        <span style="font-weight: bold;">Ram:</span> <span style="text-decoration: underline;">{{ramsize.name}} {{ramtype.name}}</span>
                        {{/with}}
                    {{/with}}
                </p>
                <p>
                    {{#with (lookup this.items.drivetypes.values this.values.drivetype) as |drivetype|}}
                        {{#with (lookup @root.items.drivesizes.values @root.values.drivesize) as |drivesize|}}
                        <span style="font-weight: bold;">Drive Size:</span> <span style="text-decoration: underline;">{{drivesize.name}} {{drivetype.name}}</span>
                        {{/with}}
                    {{/with}}
                </p>
                <p>
                    <span style="font-weight: bold;">Initials QC1:</span> <span style="text-decoration: underline;">{{this.values.qc1initial}}</span>,  <span style="font-weight: bold;">QC2:</span> <span style="text-decoration: underline;">{{this.values.qc2initial}}</span>
                </p>
            </div>
        </div>
    </div>
    <script>
        const parms = new URLSearchParams(window.location.search);
        if (parms.has("immediate")) {
            print()
        }
    </script>
</body>

</html>