{{#*inline "drop_down"}}
<label for="{{id}}" class="col-sm-1 col-form-label ">{{name}}</label>
<div class="col-sm-3 ">
    <select required class="custom-select qc-form-item" {{#if properties}}{{{properties}}}{{/if}} id="{{id}}" name="{{id}}">
        <option value="" {{#if selected_val}}selected{{/if}} hidden>Choose...</option>
        {{#each items.order}}
            {{#with (lookup ../items.values this) as |item|}}
                <option 
                {{#if item.size_bytes}}size_bytes="{{item.size_bytes}}"{{/if}} 
                value="{{../this}}" 
                {{!-- {{#if (eq ../../selected_value ../this)}}selected{{/if}} --}}
                {{#if item.hidden}}hidden{{/if}}
                >{{item.name}}</option>
            {{/with}}
        {{/each}}
    </select>
</div>
{{/inline}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">


    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
    
    <title>
       RCT Quality Control Form
    </title>
</head>

<body style="overflow-x:hidden;padding: 0 10px">
    <form id="qc-form" class="qc-form">

        <div class="form-group row">
            <h1 class="col-sm-9">Quality Control Form</h1>

            <img class="col-sm-3" alt="Renewed Computer Technology Logo" src="/res/logo.png">
        </div>

        {{!-- <div class="form-group row">
            <b>
                <p class="col">
                    This form is to be completed prior to equipment delivery <br>
                    1 copy is to be sent with the shipment and 1 copy is to be saved by production for future reference.
                </p>
            </b>
        </div> --}}

        <div class="form-group row">

            {{> drop_down id="build_location" items=this.items.build_locations name="RCT Location"
            selected_value=this.values.build_location}}

            <label for="qc1_initial" class="col-sm-1 col-form-label ">QC1 Initial</label>
            <div class="col-sm-3">
                <input required type="text" class="form-control qc-form-item" id="qc1_initial" name="qc1_initial" 
                {{!-- {{#if this.values.qc1_initial}}value="{{this.values.qc1_initial}}" {{/if}}  --}}
                {{#if this.items.initials.pattern}}pattern="{{this.items.initials.pattern}}" {{/if}}
                    placeholder="Assembly Tech">
            </div>

            <label for="qc2_initial" class="col-sm-1 col-form-label ">QC2 Initial</label>
            <div class="col-sm-3">
                <input type="text" class="form-control qc-form-item" id="qc2_initial" name="qc2_initial" 
                {{!-- {{#if values.qc2_initial}}value="{{values.qc2_initial}}" {{/if}}  --}}
                {{#if items.initials.pattern}}pattern="{{items.initials.pattern}}" {{/if}}
                    placeholder="SR Tech/Supervisor">
            </div>
        </div>
        <div class="form-group row">

            {{> drop_down id="build_type" items=this.items.build_types name="Build Type"
            selected_value=this.values.build_type properties="onchange='update_build_type(this)'"}}

            <label for="sales_order" class="col-sm-1 col-form-label  ">Sales Order</label>
            <div class="col-sm-3">
                <input class="form-control qc-form-item" id="sales_order" name="sales_order" 
                {{!-- {{#if this.items.sales_order.pattern}}pattern="{{this.items.sales_order.pattern}}" {{/if}}  --}}
                {{#if this.values.sales_order}}value="{{this.values.sales_order}}" {{/if}}>
            </div>

            <div class="col-sm-1">
                Created:<br/>
                Updated:
            </div>
            <div class="col-sm-3">
                <input readonly disabled style="height:40%;width:100%;user-select: none" id="creation_date"></input>
                <input readonly disabled style="height:40%;width:100%;user-select: none" id="last_updated"></input>
            </div>
            </div>
        </div>
        <div class="form-group row">

            <label for="oem_serial" class="col-sm-1 col-form-label ">Oem Serial</label>
            <div class="col-sm-3" id="all_oem_serial">
                <div>
                    <input required type="text" class="form-control qc-form-item" id="oem_serial" name="oem_serial"
                        tag="input" {{#if this.items.oem_serial.pattern}}pattern="{{this.items.oem_serial.pattern}}"{{/if}} 
                        ></input>
                </div>
                <div style="display:flex;height:0">
                    <p style="flex: 1">Autofill Session: </p>
                    <div class="outer-overlapping">
                        <div class="top btn-group" role="group">
                            <button type="button" class="left-button split-button btn-sm btn-primary"
                                tag="qc1-button">Qc1</button>
                            <button type="button" class="right-button split-button btn-sm btn-primary"
                                tag="qc2-button">Qc2</button>
                        </div>
                        <div class="below">
                            <button type="button" class="split-button btn-sm btn-primary" tag="cancel-button"
                                style="visibility: hidden;">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <label for="oem_serial" class="col-sm-1 col-form-label  ">Oem Serial</label>
            <div class="col-sm-3 ">
                <input required type="text" class="form-control qc-form-item" id="oem_serial" name="sales_order">
            </div> -->

            <label for="item_serial" class="col-sm-1 col-form-label ">Item Serial</label>
            <div class="col-sm-3" id="all_item_serial">
                <div>
                    <input type="text" class="form-control qc-form-item" id="item_serial" name="item_serial" tag="input"
                        {{#if this.items.item_serial.pattern}}pattern="{{this.items.item_serial.pattern}}" {{/if}} 
                        {{!-- {{#if this.values.item_serial}}value="{{this.values.item_serial}}" {{/if}} --}}
                        ></input>
                </div>
                <div style="display:flex;height:0">
                    <p style="flex: 1">Autofill Session: </p>
                    <div class="outer-overlapping">
                        <div class="top btn-group" role="group">
                            <button type="button" class="left-button split-button btn-sm btn-primary"
                                tag="qc1-button">Qc1</button>
                            <button type="button" class="right-button split-button btn-sm btn-primary"
                                tag="qc2-button">Qc2</button>
                        </div>
                        <div class="below">
                            <button type="button" class="split-button btn-sm btn-primary" tag="cancel-button"
                                style="visibility: hidden;">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <label for="item_serial" class="col-sm-1 col-form-label ">Item Serial</label>
            <div class="col-sm-2 ">
                <input required pattern="[a-zA-Z]+-[0-9]{7}" type="text" class="form-control qc-form-item" id="item_serial" name="rctpackage">
            </div> -->

            <label for="asm_serial" class="col-sm-1 col-form-label ">Asm Serial</label>
            <div class="col-sm-3" id="all_asm_serial">
                <div>
                    <input type="text" class="form-control qc-form-item" id="asm_serial" name="asm_serial" tag="input"
                        {{#if this.items.asm_serial.pattern}}pattern="{{this.items.asm_serial.pattern}}" {{/if}} 
                        {{!-- {{#if this.values.asm_serial}}value="{{this.values.asm_serial}}" {{/if}} --}}
                        ></input>
                </div>
                <div style="display:flex;height:1rem">
                    <p style="flex: 1">Autofill Session: </p>
                    <div class="outer-overlapping">
                        <div class="top btn-group" role="group">
                            <button type="button" class="left-button split-button btn-sm btn-primary"
                                tag="qc1-button">Qc1</button>
                            <button type="button" class="right-button split-button btn-sm btn-primary"
                                tag="qc2-button">Qc2</button>
                        </div>
                        <div class="below">
                            <button type="button" class="split-button btn-sm btn-primary" tag="cancel-button"
                                style="visibility: hidden;">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="make_model" class="col-sm-1 col-form-label ">Make/Model:</label>
            <div class="col-sm-3 ">
                <input required type="text" class="form-control qc-form-item" id="make_model" name="make_model" {{#if
                    this.values.make_model}}value="{{this.values.make_model}}" {{/if}}></input>
            </div>

            {{> drop_down id="operating_system" items=this.items.operating_systems name="Operating System"
            selected_value=this.values.operating_system}}

            <label for="mso_installed" class="col-sm-1 col-form-label ">MS Office</label>
            <div class="col-sm-3">
                <select required class="custom-select qc-form-item" id="mso_installed" name="mso_installed">
                    <option value="" selected hidden>Choose...</option>
                    <option value="true">YES</option>
                    <option value="false">NO</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            {{> drop_down id="processor_type" items=this.items.processor_types name="Processor Type"
            selected_value=this.values.processor_type}}
            {{> drop_down id="ram_type" items=this.items.ram_types name="RAM Type" selected_value=this.values.ram_type}}
            {{> drop_down id="drive_type" items=this.items.drive_types name="Drive Type"
            selected_value=this.values.drive_type}}
        </div>

        <div class="form-group row">
            {{> drop_down id="processor_gen" items=this.items.processor_gens name="Processor Gen"
            selected_value=this.values.processor_gen}}
            {{> drop_down id="ram_size" items=this.items.ram_sizes name="RAM Size" selected_value=this.values.ram_size}}
            {{> drop_down id="drive_size" items=this.items.drive_sizes name="Drive Size"
            selected_value=this.values.drive_size}}
        </div>

        <div id="qc-checks" class="horizontal-center-outer">
            <div class="horizontal-center-inner"  style="border: 1px solid black;">
            
            <ul class="qc-checks grid-list">
            {{#each this.items.qc_checks.tech_form as |section |}}
                <li qc_check_section_heading="{{@index}}">    
                    <div><p style="font-size:20px;font-weight: bold;">{{section.heading}}</p></div>
                </li>
                <li qc_check_section_heading="{{@index}}">
                    <div style="width:49%;display: inline-block;text-align: center">
                        <p style="font-size:20px;font-weight: bold;">QC1</p>
                    </div>
                    <div style="width:49%;display: inline-block;text-align: center;">    
                        <p style="font-size:20px;font-weight: bold;">QC2</p>
                    </div>
                </li>
                
                {{#each section.questions as |question_id|}}

                {{!-- <div> --}}
                {{!-- <tr id="{{question_id}}" class="qc-check"> --}}
                    {{#with (lookup @root.items.qc_checks.questions question_id) as |question|}}
                        
                        <li 
                        qc_question_section="{{@../../index}}"
                        question_id="{{question_id}}" 
                        
                        {{#if question.hidden}}
                        hidden whitelist_build_types="none"
                        {{else}}
                            {{#if question.whitelist_build_types}}
                            whitelist_build_types="{{#each question.whitelist_build_types}}{{this}} {{/each}}"
                            {{/if}}
                        {{/if}}
                        >
                            <p style="margin-left: 2em">{{question.question}}</p>
                        </li>

                        <li 
                        qc_question_section="{{@../../index}}"
                        question_id="{{question_id}}" 
                        class="qc-check-answer"
                        
                        {{#if question.hidden}}
                        hidden whitelist_build_types="none"
                        {{else}}
                            {{#if question.whitelist_build_types}}
                            whitelist_build_types="{{#each question.whitelist_build_types}}{{this}} {{/each}}"
                            {{/if}}
                        {{/if}}
                        >

                            {{#*inline "questions"}}
                            <div class="radio-toolbar" style="display: inline-block;margin-right: 1rem;">
                                <input 
                                    class="{{qc}} radio-btn radio-pass" 
                                    type="radio" 
                                    id="{{qc}}-incomplete-{{question_id}}" 
                                    name="{{qc}}-{{question_id}}"
                                    checked
                                    style="display:none"
                                    value="i"
                                    >
                                
                                <input 
                                    class="{{qc}} radio-btn radio-pass" 
                                    type="radio" 
                                    id="{{qc}}-pass-{{question_id}}" 
                                    name="{{qc}}-{{question_id}}" 
                                    value="p"
                                    >
                                <label for="{{qc}}-pass-{{question_id}}">Pass</label>

                                <input 
                                    class="{{qc}} adio-btn radio-fail" 
                                    type="radio" 
                                    id="{{qc}}-fail-{{question_id}}" 
                                    name="{{qc}}-{{question_id}}" 
                                    value="f"
                                    >
                                <label for="{{qc}}-fail-{{question_id}}">Fail</label>

                                <input 
                                    class="{{qc}} radio-btn radio-na" 
                                    type="radio" 
                                    id="{{qc}}-na-{{question_id}}" 
                                    name="{{qc}}-{{question_id}}" 
                                    value="n"
                                    >
                                <label for="{{qc}}-na-{{question_id}}">N/A</label>
                            </div>
                            {{/inline}}
                            
                            {{> questions qc = "qc1" question_id=question_id}}
                            {{> questions qc = "qc2" question_id=question_id}}
                        </li>
                    {{/with}}
                {{/each}}
            {{/each}}
            </ul>
            </div>
        </div>
        

        <div class="horizontal-center-outer">
            <label class="horizontal-center-inner" for="tech_notes">Tech Notes:</label>
            <textarea class="horizontal-center-inner col-sm-6 qc-form-item" id="tech_notes" name="tech_notes" rows="3"></textarea>
        </div>

        <div class="horizontal-center-outer" style="margin-top:1em" id="control-panel">
            <div class="horizontal-center-inner">
                <span class="col-sm-1"></span>
                {{#if this.values.id}}
                <button type="button" class="btn btn-primary" id="updateButton" onclick="update_form()">UPDATE</button>
                <a target="_blank" href="/printable/{{@root.values.id}}?immediate">
                    <button type="button" class="btn btn-primary" id="printButton">PRINT</button>
                <a>
                {{else}}
                <button type="button" class="btn btn-primary" id="saveButton" onclick="save_form()">SAVE</button>
                {{/if}}
            </div>
        </div>
    </form>

    <script>
        var edit_id = {{#if this.values.id}}{{this.values.id}}{{else}}null{{/if}};
        var download_id_on_save = {{#if this.values.download_id_on_save}}true{{else}}null{{/if}};
        var metadata = {{json_stringify this.values.metadata}}
    </script>
    
    <script src="/src/database_api.js"></script>
    <script src="/src/sessions.js"></script>
    <script src="/src/qc_form.js"></script>
    <script>
        update_form_values({{json_stringify this.values}})
    </script>
</body>

</html>

<script>
    console.log("hello from out here!");
</script>